/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./1-gallery.css');
@import url('./2-form.css');

.main-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 24px;
}
.link {
  padding: 24px;
  display: block;
}